<div class="MainBox ARIARoleMain">
    <div class="ClearLeft"></div>
    <div class="Headline">
        <h1 title="[% Config("PaS::Hook") %]: [% Data.PaSNumber | html %] &ndash; [% Data.DynamicField_PasTitle | html %]">
               [% Config("PaS::Hook") %]: [% Data.PaSNumber | html %] <span>&mdash;</span> [% Data.DynamicField_PasTitle | truncate(70) | html %]
           </h1>
    </div>

     <div class="LayoutFixedSidebar SidebarLast">
        <div class="SidebarColumn">
            <div class="WidgetSimple">
                <div class="Header">
                    <h2>[% Translate("PaS Information") | html %]</h2>
                </div>
                <div class="Content">
                    <fieldset class="TableLike FixedLabelSmall">
                        <label>[% Translate("Created") | html %]:</label>
                        <p class="Value" title="[% Data.CreateTime | html %]">[% Data.Create2Time | Localize("TimeLong") %]</p>
                        <div class="Clear"></div>
                    </fieldset>
                    <fieldset class="TableLike FixedLabelSmall">
                        <label>[% Translate("Created by") | html %]:</label>
                        <p class="Value" title="[% Data.CreateUserLogin | html %] ([% Data.CreateUserFirstname | html %] [% Data.CreateUserLastname | html %])">
                           [% Data.CreateUserLogin | truncate(15) | html %] ([% Data.CreateUserFirstname | html %] [% Data.CreateUserLastname | html %])
                        </p>
                        <div class="Clear"></div>
                    </fieldset>
                    <fieldset class="TableLike FixedLabelSmall">
                        <label>[% Translate("Last changed") | html %]:</label>
                        <p class="Value" title="[% Data.ChangeTime | html %]">[% Data.ChangeTime | Localize("TimeLong") %]</p>
                        <div class="Clear"></div>

                        <label>[% Translate("Last changed by") | html %]:</label>
                        <p class="Value" title="[% Data.ChangeUserLogin | html %] ([% Data.ChangeUserFirstname | html %] [% Data.ChangeUserLastname | html %])">
                           [% Data.ChangeUserLogin | truncate(15) | html %] ([% Data.ChangeUserFirstname | html %] [% Data.ChangeUserLastname | html %])
                        </p>
                        <div class="Clear"></div>
                        [% RenderBlockStart("LinkTableSimple") %]
                        [% Data.LinkTableStrg %]
                        [% RenderBlockEnd("LinkTableSimple") %]
                        <div class="Clear"></div>
                    </fieldset>
                </div>
            </div>
        </div>
  

            <div class="ContentColumn">
            <div class="WidgetSimple">
                <div class="Content">
                    <div class="ActionRow">
                        <ul class="Actions">
[% RenderBlockStart("MenuItem") %]
                        <li>
                           <a href="[% Env("Baselink") %][% Data.Link | Interpolate %]" id="[% Data.MenuID | html %]" class="[% Data.Class | html %] AsPopup" [% Data.LinkParam %] title="[% Translate(Data.Description) | html %]">[% Translate(Data.Name) | html %]</a>
                        </li>
                        [% RenderBlockStart("ShowConfirmationDialog") %]
                        [% WRAPPER JSOnDocumentComplete %]
                        <script type="text/javascript">//<![CDATA[
                           /*global PaS: true */
                           PaS.Agent.ConfirmationDialog.BindConfirmationDialog({
                           ElementID:                  '[% Data.MenuID %]',
                                   ElementSelector:            '[% Data.ElementSelector | Interpolate %]',
                                   DialogContentQueryString:   '[% Data.DialogContentQueryString | Interpolate %]',
                                   ConfirmedActionQueryString: '[% Data.ConfirmedActionQueryString | Interpolate %]',
                                   DialogTitle:                '[% Data.PaSNumber | Interpolate %] - [% Data.PaSTitle | Interpolate %]',                                                                
                                   TranslatedText:             {
                                   Yes: [% Translate("Yes") | JSON %],
                                           No:  [% Translate("No") | JSON %],
                                           Ok:  [% Translate("Ok") | JSON %]
                                   }
                           });
                           //]]>
                        </script>
                        [% END %]
                        [% RenderBlockEnd("ShowConfirmationDialog") %]
[% RenderBlockEnd("MenuItem") %]

                        </ul>
                        <div class="Clear"></div>
                    </div>
                </div>
            </div>
            <div class="SpacingTop"></div>

            <div id="FAQBody">





                <div class="WidgetSimple">
                    <div class="Header">
                        <div class="WidgetAction Toggle">
                            <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                        </div>
                        <h2>[% Translate("PaS") | html %] - [% Data.DynamicField_PasTitle | truncate(70) | html %]</h2>
                    </div>
                    <div class="Content">

                        <div class="section-data wrap">
                             <fieldset class="TableLike FixedLabelSmall Narrow">
                                [% RenderBlockStart("DynamicField") %]
                                <label>[% Translate(Data.Label) | html %]:</label>
                                <p class="Value">
                                   [% RenderBlockStart("DynamicFieldLink") %]
                                   <span title="[% Data.Title | html %]">
                                   <a href="[% Data.Link | Interpolate %]" target="_blank" class="DynamicFieldLink">
                                   [% Data.Value %]
                                   </a>
                                   </span>
                                   [% RenderBlockEnd("DynamicFieldLink") %]
                                   [% RenderBlockStart("DynamicFieldPlain") %]
                                   <span title="[% Data.Title | html %]">[% Data.Value %]</span>
                                   [% RenderBlockEnd("DynamicFieldPlain") %]
                                </p>
                                <div class="Clear"></div>
                                [% RenderBlockEnd("DynamicField") %]
                             </fieldset>
                             <div class="section-data wrap">
                                <fieldset class="TableLike FixedLabelSmall Narrow">
                                   <label>[% Translate(" SLA ") | html %]:</label>
                                   <p class="Value">[% Translate(Data.SLAID) | html %]</p>
                                   <div class="Clear"></div>
                                </fieldset>
                                <fieldset class="TableLike FixedLabelSmall Narrow">
                                   <label>[% Translate(" Product Code ") | html %]:</label>
                                   <p class="Value">[% Translate(Data.PaSNumber) | html %]</p>
                                   <div class="Clear"></div>
                                </fieldset>
                                <fieldset class="TableLike FixedLabelSmall">
                                   <label>[% Translate("Attachment") | html %]:</label>
                                   <div class="Field">
                                      [% RenderBlockStart("AttachmentRow") %]
                                      <span class="DownloadAttachment" title="[% Translate("Download Attachment") | html %]">
                                      <a href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=DownloadAttachment;Filename=[% Data.Filename | uri %];PaSID=[% Data.PaSID | uri %]">
                                      [% Data.Filename | html %]
                                      </a>
                                      , [% Data.Filesize | html %]
                                      </span>
                                      <br/>
                                      [% RenderBlockEnd("AttachmentRow") %]
                                   </div>
                                   <div class="Clear"></div>
                                </fieldset>
                             </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="Clear"></div>
[% RenderBlockStart("LinkTableComplex") %]
            <div class="Content">
                [% Data.LinkTableStrg %]
            </div>
[% RenderBlockEnd("LinkTableComplex") %]

        </div>
        <div class="Clear"></div>
    </div>


</div>